
#cameraController {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #124c8f;
}

.cameraController-pictureContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.cameraController-picture-portrait {
	max-height: 100%;
	width: auto;
}

.cameraController-picture-landscape {
	position: absolute;
	top: 50%;
	max-width: 100%;
	height: auto;
}

.cameraController-picture-preload {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

#cameraController-spinnerContainer {
	position: absolute;
	width: 20px;
	height: 24px;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -12px;
}

#cameraController-retakeButton {
	position: absolute;
	left: 0;
	top: 0;
	width: 81px;
	height: 37px;
	background-color: white;
	color: #e00127;
	font-size: 10px;
}

#cameraController-filtersContainer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 69px;
	font-size: 0;
	width: 100%;
	border-width: 3px 0 0 0;
	border-style: solid;
	border-color: #181818;
}

.cameraController-filter {
	display: block;
	max-width: 100%;
}

.cameraController-filterContainer {
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 20%;
	height: 69px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #181818;
	overflow: hidden;
}

.cameraController-filterContainer.extremeLeft {
	border-width: 0 1px 0 0;
}

.cameraController-filterContainer.extremeRight {
	border-width: 0 0 0 1px;
}