* {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

a {
	text-decoration: none;
}

html, body {
	overflow: hidden;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Arial";
}

.full-size {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}