#marker {
	position: absolute;
	width: 65px;
	height: 67px;
}

#marker > #pin {
	background-color: transparent;
	background-repeat: no-repeat;
	width: 65px;
	height: 67px;
}

#marker > #pin.red {
	background-image: url("../img/map/pin-red.png");
}

#marker > #pin.yellow {
	background-image: url("../img/map/pin-yellow.png");
}

#marker > #image {
	position: absolute;
	left: 9px;
	top: 8px;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/common/large-photo-substitute.png");
}

#marker > .bubble {
	position: absolute;
	display: table;
	top: -50px;
	left: -42px;
	height: 51px;
	z-index: 2;
}

#marker > .bubble > .row {
	display: table-row;
	height: 100%;
}

#marker > .bubble > .bubbleLeft {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 51px;
	z-index: -1;
	background-image: url("../img/map/bubble-left.png")
}

#marker > .bubble > .bubbleCenter {
	position: absolute;
	left: 80px;
	top: 0;
	right: 0;
	height: 41px;
	z-index: -1;
	background-repeat: repeat-x;
	background-image: url("../img/map/bubble-center.png")
}

#marker > .bubble > .bubbleRight {
	position: absolute;
	right: -8px;
	top: 0;
	width: 8px;
	height: 41px;
	z-index: -1;
	background-repeat: no-repeat;
	background-image: url("../img/map/bubble-right.png")
}

#marker .row > .postsCount {
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 2px;
	font-size: 23px;
	font-weight: bold;
	color: #e00028;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80px
}

#marker .row > .cameraIcon {
	display: table-cell;
	padding-left: 13px;
	background-repeat: no-repeat;
	background-image: url("../img/map/camera-icon.png");
	background-position: 2px 9px;
}

#marker .row > .name {
	display: table-cell;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 6px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 18px;
	max-width: 150px;
	color: white;
}

#marker .row > .disclosureArrow {
	display: table-cell;
	padding-left: 16px;
	background-repeat: no-repeat;
	background-image: url("../img/map/disclosure-arrow.png");
	background-position: 8px 13px;
}