.navigationController-back-button {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0;
	top: 0;
	background-color: white;
}

.navigationController-slidein {
	background-color: yellow;
	animation-duration: 2s;
	animation-name: slidein;
}

@keyframes slidein {
	0% {
		left: 100%;
	}

	100% {
		left: 0;
	}
}

.navigationController-slideout {
	animation-duration: 1s;
	animation-name: slideout;
}

@keyframes slideout {
	0% {
		left: 0;
	}

	100% {
		left: 100%;
	}
}

