#trendsController {
	background-color: #181818;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#trendsController-tableView {
	position: absolute;
	top: 24px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	background-color: #124c8f;
}

#trendsController-searchForm {
	position: absolute;
	top: 1px;
	width: 180px;
	height: 20px;
	margin: 0 0 0 50%;	
	left: -90px;
}

#trendsController-searchField {
	width: 180px;
	height: 20px;
	background-color: #ffffff;
	-webkit-appearance: none;
	outline: none;
}

